<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %level - %m%n%ex%n"/>
        </Console>
        <File name="log4jdbc_file" fileName="log4jdbc.out">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %level - %m%n%ex%n"/>
        </File>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="Console"/>
        </root>
        <logger name="log4jdbc.log4j2" level="error" additivity="false">
            <appender-ref ref="log4jdbc_file"/>
        </logger>

        <logger name="log4jdbc.log4j2" level="info" additivity="false">
            <MarkerFilter marker="LOG4JDBC_NON_STATEMENT" onMatch="DENY" onMismatch="NEUTRAL"/>
            <appender-ref ref="log4jdbc_file"/>
            <appender-ref ref="Console"/>
        </logger>

        <logger name="log4jdbc.log4j2" level="info" additivity="false">
            <MarkerFilter marker="LOG4JDBC_AUDIT" onMatch="ACCEPT" onMismatch="DENY"/>
            <appender-ref ref="log4jdbc_file"/>
        </logger>

        <logger name="log4jdbc.log4j2" level="info" additivity="false">
            <MarkerFilter marker="LOG4JDBC_RESULTSET" onMatch="ACCEPT" onMismatch="DENY"/>
            <appender-ref ref="log4jdbc_file"/>
        </logger>

        <logger name="log4jdbc.log4j2" level="info" additivity="false">
            <MarkerFilter marker="LOG4JDBC_CONNECTION" onMatch="ACCEPT" onMismatch="DENY"/>
            <appender-ref ref="log4jdbc_file"/>
        </logger>

        <logger name="log4jdbc.log4j2" level="info" additivity="false">
            <MarkerFilter marker="LOG4JDBC_RESULTSETTABLE" onMatch="ACCEPT" onMismatch="DENY"/>
            <appender-ref ref="log4jdbc_file"/>
            <appender-ref ref="Console"/>
        </logger>
    </loggers>
</configuration>